#cont {
    height: 100%;
    width: 900px;
    position: center;
    font-family: arial;
    margin: auto;
}

#home {
    width: 40px;
    height: auto;
    float: right;
}

table {
    margin: auto;
    margin-top: 4rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
    background-color: rgb(207, 209, 243);
    border: 3px rgb(172, 176, 235) solid;
}

.r1 {
    width: 25rem;
}

.r2 {
    width: 5rem;
}

.r3 {
    width: 10rem;
}